{# src/Arii/JIDBundle/Resources/views/Default/history.html.twig #}
{% extends "AriiI5Bundle::layout.html.twig" %}
{% block body %}
<body>
<script type="text/javascript">
var max_history = 0; // pas d'historique
var chained = 0; // que des standalone
var only_warning = 1; // que les problemes
var update=30;
var autorefresh;

var myGridToolbar;
var status;

dhtmlxEvent(window,"load",function(){     
    globalLayout = new dhtmlXLayoutObject(document.body,"2U");  
    globalLayout.cells("a").setWidth(355); 
    globalLayout.cells("a").hideHeader(); 
    globalLayout.cells("b").hideHeader(); 

    globalMenu = globalLayout.cells("a").attachMenu();
    globalMenu.setIconsPath( "{{ asset('/bundles/ariicore/images/menu/') }}" );
    globalMenu.loadStruct("{{ url('xml_menu') }}?route={{ app.request.attributes.get('_route') }}");

    myRibbon = globalLayout.cells("a").attachRibbon(); 
    myRibbon.setIconPath( "{{ asset('bundles/ariicore/images/ribbon/') }}" );
    myRibbon.loadStruct("{{ url('json_I5_ribbon') }}");
    myRibbon.attachEvent("onStateChange", StateRibbon );
    myRibbon.attachEvent("onClick", ClickRibbon );

    myTab = globalLayout.cells("a").attachTabbar();
    myTab.addTab("jobs","{{ "Jobs" | trans }}","100px", null, true);
    myTab.addTab("messages","{{ "Messages" | trans }}","100px");
    
    myJobs = myTab.cells("jobs").attachGrid();
    myJobs.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
    myJobs.setHeader("{{ "S-syst" | trans }},{{ "Job" | trans }},{{ "User" | trans }},{{ "Number" | trans }}");
    myJobs.attachHeader("#select_filter,#text_filter,#select_filter,#text_filter");
    myJobs.setInitWidths("150,200,150,150");
    myJobs.setColAlign("left,left,left,right");
    myJobs.setColTypes("ro,ro,ro,ro");
    myJobs.setColSorting("str,str,str,int");
    myJobs.setColumnHidden(0,true);
    myJobs.init();
    myJobs.attachEvent("onRowDblClicked",JobDetail );

    myJobsToolbar = myTab.cells("jobs").attachToolbar();
    myJobsToolbar.setIconsPath("{{ asset('bundles/ariicore/images/toolbar/') }}");
    myJobsToolbar.loadStruct( "{{ url('xml_I5_jobs_toolbar') }}");
    myJobsToolbar.attachEvent("onClick",function(itemid){
         switch (itemid) {
            default:
                alert(itemid);
                break;
        }
    });
    myJobsToolbar.attachEvent("onStateChange",function(itemid, state){
         switch (itemid) {
            case "sbs":
                    myJobs.setColumnHidden(0,!state);
                break;
            case "user":
                    myJobs.setColumnHidden(2,!state);
                break;
            default:
                alert(itemid);
                break;
        }
    });
    
    myMsgs = myTab.cells("messages").attachGrid();
    myMsgs.setImagePath( "{{ asset('bundles/ariicore/images/treegrid/') }}");
    myMsgs.setHeader("{{ "S-syst" | trans }},{{ "Job" | trans }},{{ "User" | trans }},{{ "Number" | trans }}");
    myMsgs.attachHeader("#select_filter,#text_filter,#select_filter,#text_filter");
    myMsgs.setInitWidths("0,200,150,120");
    myMsgs.setColAlign("left,left,left,right");
    myMsgs.setColTypes("ro,ro,ro,ro");
    myMsgs.setColSorting("str,str,str,int");
    myMsgs.init();
    myMsgs.load( "{{ url('xml_I5_dspmsg_list') }}");
    myMsgs.attachEvent("onRowDblClicked",MsgDetail );
    
    myTabbar = globalLayout.cells("b").attachTabbar();
    myTabbar.addTab("dspjob","{{ "DSPJOB" | trans }}","120px", null, true);
    myTabbar.addTab("dspjoblog","{{ "DSPJOBLOG" | trans }}","120px");
    myTabbar.attachEvent("onContentLoaded", function(id){
        myTabbar.cells(id).progressOff();
    });
    
    GridRefresh();
    autorefresh = setInterval( "GridRefresh()",update*1000);
});

function GlobalRefresh() {
    GridRefresh();
}

function GridRefresh() {
    var currentTime = new Date();
    var hours = currentTime.getHours();
    var minutes = currentTime.getMinutes();
    var seconds = currentTime.getSeconds();
    if (minutes < 10){
    minutes = "0" + minutes;
    }
    if (seconds < 10){
    seconds = "0" + seconds;
    }
    myRibbon.setItemText( "refresh", hours + ":" + minutes + ":" +  seconds );
    job = myJobs.getFilterElement(3).value;
    myJobs.load( "{{ url('xml_I5_wrkactjob_list') }}" , function(){    
        globalLayout.cells("b").progressOff();
        myJobs.filterBy(3, job);  
        globalLayout.progressOff();
        globalLayout.cells("a").progressOff();
    });    
}

function JobDetail(id) {
    myTabbar.cells('dspjob').progressOn();
    myTabbar.cells('dspjoblog').progressOn();
    
    // mise a jour de la toolbar
    var job = myJobs.cells(id, 1 ).getValue();
    var user = myJobs.cells(id, 2 ).getValue();
    var run = myJobs.cells(id, 3 ).getValue();
    // alert("{{ url('xml_I5_dspjob') }}?job="+run+"/"+user+"/"+job);
    myTabbar.cells('dspjob').attachURL( "{{ url('xml_I5_dspjob') }}?job="+run+"/"+user+"/"+job);
    myTabbar.cells('dspjoblog').attachURL( "{{ url('xml_I5_dspjoblog') }}?job="+run+"/"+user+"/"+job);
}

function MsgDetail(id) {
}

function onShowMenu(rowId, celInd, grid) {
}

</script>
</body>
{% endblock %}
